body{
    background-image: url();
     font-family: Bradley Hand,
     cursive;
}

/* header positions============================== */

header{
    position: fixed;
    background-color: black;
    padding: 12px;
    text-align: center;
    display: flex;
    width: 100vw;
    justify-content: center;     
}
header a{
    margin: 5px;
    margin-left: 31px;
    color: orange;
    text-decoration: none;
    font-size: 22px;   
}
header a:hover{
    text-decoration: underline;
    color:white;
    font-size: 24px;
}

/* 1st container=============================================== */

.container{
    display: flex;
     
}

/* Profile====================================================== */

.myprofile{
    background: linear-gradient(to right,white 50%, orange 50%);
    flex-basis: 40%;
    height: 90vh; 
    font-size: 35px;
    color:blueviolet;
    text-align: center;
      
}
.myprofile img {
    width: 300px;
    margin-top:200px;
    border-radius: 20px;
    background: linear-gradient(to right, orange 50%, white 50%);
}
.myprofile p {
    color: black;
     margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.myprofile img:hover {
    background: linear-gradient(to right, white 50%, orange 50%);
}

/* 1st left======================================================== */

.leftside-details{
    background-color:white;
    flex-basis: 30%;
    height: 90vh; 
    font-size: 20px;
    text-align: center;
    /* border: 1px solid black; */
}
.ld-info {
    border: 5px solid;
    border-image: linear-gradient(to bottom, orange,rgba(0, 0, 0, 0)) 1 100%;
    margin-top: 250px;
    margin-left: 40px;
}
.ld-info h1, .rd-info h1{
    font-size: 30px;
}

/* 1st right======================================================= */

.rightside-details {
    background-color:orange;
    flex-basis: 30%;
    height: 90vh;
    font-size: 20px;
    text-align: center;
}
.rd-info {
    border: 5px solid;
    border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 100%;
    margin-top: 250px;
    margin-right: 40px;
    color: white;
}
.rd-info img{
    width: 50px;
    color: white;
}
.rd-info img:hover{
    filter: contrast(0);
}

 /* about section========================== */

.about{
    background-color: lightgrey;
    display: flex;
}
.labout-info img{
    width: 400px;
    padding: 120px;
}
.rabout-info{
    font-size: 25px;
    font-style: italic;
    padding: 40px;
    margin-top: 150px;
}
.rabout-info h1{
    font-size: 35px;
}
 
/* skill section================-====== */

.skills{
    background-color: black;
    display: flex;
    width: 100%;
    color: white;
}
.lr-skills{ 
    display: flex;
}
.l-skills p{


    font-size: 25px;
    font-style: italic;
    padding: 40px;
    margin-top: 40px;
}
.skills h2{
    margin: 20px;
    font-size: 35px;
    color: orange;
}
.html{
    text-align: center;
    background-color: rebeccapurple;
    width: 500px;
    height: 30px;
    margin-left: 50px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.css {
    text-align: center;
    background-color: rebeccapurple;
    width: 375px;
    height: 30px;
    margin-left: 50px;
    border-radius: 20px;
     margin-bottom: 30px;
     margin-top: 20px;
}
.js {
    text-align: center;
    background-color: rebeccapurple;
    width: 300px;
    height: 30px;
    margin-left: 50px;
    border-radius: 20px;
     margin-bottom: 30px;
     margin-top: 20px;
}
.java {
    text-align: center;
    background-color: rebeccapurple;
    width: 350px;
    height: 30px;
    margin-left: 50px;
    border-radius: 20px;
     margin-bottom: 30px;
     margin-top: 20px;
}
/* Eduction Section================== */
.education {
    background-color: orange;
    display: flex;
    width: 100%;
}

.leducation-info img {
    width: 400px;
    margin-left: 250px;
    margin-top: 50px;
}
.reducation-info {
    font-size: 25px;
    font-style: italic;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;    
}
 
.reducation-info table,th,td {
    border-collapse: collapse;
}
.reducation-info h1 {
    font-size: 35px;
    margin-left: 10px; 
    color:blueviolet;  
}
.margin {
    margin-left: 100px;
}

/* contact section================-====== */